@import url('https://fonts.googleapis.com/css?family=Orbitron');

body{
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  background-color: #01112a;
  justify-content: center;
  align-items: center;
}
.container{
  display: block;
  height:95%;
  max-height: 533px;
  width:85%;
  max-width:700px;
  background-color:rgb(6,22,47,0.8);
}
.search-container{
  margin-left:24%;
  margin-right:24%;
  width:52%;
  padding-top:5%;
}
button[type=submit]{
  width:5%;
}
input[type=text] {
  width:90%;
  padding:1% 0px;
  text-align:center;
  border: solid;
  background-color: #0c567b;
  font-size: 2vh;
  font-family: 'Orbitron', sans-serif;
}

.grid-container{
  padding-top: 5%;
  padding-bottom: 8%;
  margin-left:18.5%;
  margin-right:18.5%;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}
.grid-item{
  width:95%;
  height:85%;
  background-color:rgb(1,34,65,0.9);
  vertical-align: middle;
}
.grid-item img{
  margin-left:12.5%;
  margin-right:12.5%;
  margin-bottom:3%;
  width: 75%;
}
#clock {
  padding-top:5%;
  margin-left:20.5%;
  margin-right:20.5%;
  font-family: 'Orbitron', sans-serif;
  color: #40c4c6;
  font-size: 5.5vh;
  text-align: center;
}
